[Desktop Entry]
Version=1.0
Type=Application
Name=Alsa Sound Connect
Comment=Bluetooth & sound control in ALSA
Exec=/usr/local/bin/mxeq
Icon=alsa-sound-connect
Terminal=false
Categories=AudioVideo;Audio;